@{
    ViewBag.Title = "Alcatraz - Don't let those logs goes away";
}

@section head {
    <script src="http://localhost:8081/signalr/hubs" type="text/javascript"></script>    
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                The new way on logs visualization.
            </p>
        </div>
    </section>
}
<h3>
    Logs
</h3>

<ul id="messages">
</ul>

<script type="text/javascript">
    $(function () {
        var logHub = $.connection.logHub;

        function addMessage(msg) {
            $("<li/>").html(msg.Message).prependTo("#messages").effect("highlight");
        }

        logHub.received = addMessage;

        $.connection.hub.start({ transport: 'negotiate' }, function () {
            logHub.getLogs(function (data) {
                for (var i = data.length - 1; i >= 0; i--) {
                    addMessage(data[i]);
                }
            });
        });
    });
</script>
