@{
    ViewBag.Title = "Alcatraz - Don't let those logs goes away";
}
@section head {
    <script src="http://localhost:8081/signalr/hubs" type="text/javascript"> </script>
    <script src="~/Scripts/handlebars-1.0.0.beta.6.js" type="text/javascript"> </script>
    <script src="~/Scripts/appMappings.js" type="text/javascript"> </script>
    <style>
        div.log {
            margin-bottom: 2px;
            border-bottom: 1px solid grey;
            word-wrap: break-word;
            word-break: break-all;    
        }
        
        div.Info
        {
            background: aquamarine;
        }
        
        div.Error
        {
            background: crimson;
        }
        
        div.Fatal
        {
            background: darkmagenta;
        }
    </style>
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                The new way on logs visualization.
            </p>
        </div>
    </section>
}
<h3>
    Logs
</h3>

<div id="master-container">
    <ul>
    </ul>
</div>

<script id="log-template" type="text/x-handlebars-template">
  <div class="log {{Level}}">
    {{Level}} - {{Message}}
  </div>
</script>

<script type="text/javascript">
    $(function () {
        //Initialize the templates
        var logTemplate = Handlebars.compile($("#log-template").html());

        $("#master-container").tabs();

        var mapServerAppNames = window.ServerAppNames || {};

        function addMessage(msg) {
            //Enhance the logmsg for easy templating
            msg.Machine = msg.Properties["log4jmachinename"];
            //Remove non alphanumeric chars, and ROOT9999 suffix from IIS
            msg.App = msg.Properties["log4japp"].replace(/[^a-zA-Z0-9]/ig, "").replace(/ROOT[0-9]*/ig, "");
            //Search for the contaner           
            var containerKey = msg.Machine + "-" + msg.App;
            var container = $("#" + containerKey);
            if (!container.get(0)) {
                var masterContainer = $("#master-container");
                var previouslySelectedTab = masterContainer.tabs('option', 'selected');

                masterContainer.tabs("add", "#" + containerKey, mapServerAppNames[containerKey] || containerKey);
                masterContainer.tabs("select", previouslySelectedTab);
            }
            $(logTemplate(msg)).prependTo("#" + containerKey).effect("highlight");
        }

        var logHub = $.connection.logHub;

        if (!logHub) {
            alert("There is no log server running.");
            return;
        }

        logHub.received = addMessage;

        $.connection.hub.start({ transport: 'negotiate' }, function () {
            logHub.getLogs(function (data) {
                for (var i = data.length - 1; i >= 0; i--) {
                    addMessage(data[i]);
                }
            });
        });
    });
</script>
